.root {
    position: absolute;
    display: flex;
    padding: 10px;

    .point {
      i {
        min-width: 2px !important;
        min-height: 2px !important;
      }
    }

    
  }

  .inner {
    display: flex;
    flex: 1;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 8px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    cursor: pointer;

    &:hover {
      background: rgb(131, 131, 136);
    }
  }

  .male {
    background: #afbbbb;
  }

  .female {
    background: #b3b2aa;
  }

  .isRoot {
    border-color: rgba(0, 0, 0, 0.4);
    border-width: 3px;
    background: #9595f9 !important;
  }